.menu-mobile, .filter-mb, .menu-mobile-2, .list-sugesst-mb, .btn-filer-li, .btn-more-view-list-mb, .btn-close-search-mb, .btn-search-mb, .search-head.search-head-mb, .btn-filter.btn-filer-lib {
  display: none; }

@media only screen and (max-width: 1400px) {
  footer img {
    width: 100%; }

  .page-overview .pattern01 {
    width: 200px; }
  .page-overview .pattern02 {
    width: 300px; }

  .content-page-404 .img-cat-404 {
    height: 270px; }
  .content-page-404 .content-detail-404 {
    transform: translate(100%, 50%); } }
@media only screen and (max-width: 1201px) {
  .banner-home.banner-about .box-question {
    margin-top: 40px; }

  .btn-search.js-open-modal {
    display: none; }

  .btn-search-mb {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px; }
    .btn-search-mb img {
      height: 28px; }

  .show-search-mb {
    display: none; }

  .search-head.show-search-mb {
    padding-top: 0;
    display: block;
    position: fixed;
    top: 0;
    z-index: 9;
    padding: 0 15px; }
    .search-head.show-search-mb .btn-close-search-mb {
      color: #666668;
      display: block;
      position: absolute;
      right: 0;
      top: 10px; }
    .search-head.show-search-mb .btn-search-mb {
      display: none; }
    .search-head.show-search-mb .enter-search-box-mb input {
      width: 83%; }

  .enter-search-box-mb {
    position: relative;
    display: block;
    margin: 0 -15px 30px -15px; }
    .enter-search-box-mb img {
      height: 22px;
      position: absolute;
      left: 20px;
      top: 12px;
      z-index: 1; }
    .enter-search-box-mb input {
      border-radius: 120px;
      background-color: #F8F9FA;
      height: 45px;
      padding: 10px 20px 10px 50px;
      font-size: 14px; }
      .enter-search-box-mb input::placeholder {
        color: #ABABAB;
        font-size: 14px; }

  .custom-box-search-head {
    top: 65px;
    height: 100%; }

  .search-head {
    height: 100%; }

  .btn-search {
    margin: 5px 0 0 0; }
    .btn-search .ti-search {
      font-size: 24px; }

  .header-1 {
    height: 70px; }
    .header-1 .logo .logo-default img, .header-1 .logo-scroll img {
      height: 40px;
      position: fixed;
      left: 0;
      right: 0;
      top: 15px;
      margin: 0 auto; }
    .header-1 .content-head-right {
      float: none;
      display: inherit; }

  .ic-menu-mb, .ic-close-menu-mb {
    height: 20px; }

  .menu nav, .ic-close-menu-mb {
    display: none; }

  .menu-mobile-2 {
    display: block;
    position: fixed;
    left: 20px;
    top: 20px; }

  .btn-search {
    position: fixed;
    right: 20px; }

  header.show-menu .menu nav {
    display: block;
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    height: 100%;
    border-top: 1px solid #E3E3E3; }
    header.show-menu .menu nav ul {
      display: inline-block;
      width: 100%;
      padding-top: 30px;
      background-color: #fff;
      height: 100%; }
      header.show-menu .menu nav ul li {
        width: 100%;
        margin-bottom: 45px; }
        header.show-menu .menu nav ul li a {
          font-size: 28px;
          font-family: 'Google Sans', sans-serif !important;
          font-weight: normal; }
  header.show-menu .ic-menu-mb {
    display: none; }
  header.show-menu .ic-close-menu-mb {
    display: block; }

  .header-1 .content-head-right .btn-action {
    display: none; }

  .content-head-left {
    display: inherit; }

  .list-sugesst-mb {
    display: flex; }
    .list-sugesst-mb img {
      height: 40px; }
    .list-sugesst-mb h2 a {
      font-size: 16px; }
    .list-sugesst-mb p {
      font-size: 14px;
      color: #666668; }

  .enter-search-box {
    display: none; }

  .suggest-search {
    padding-top: 40px; }
    .suggest-search span {
      font-size: 14px; }
    .suggest-search ul li a {
      font-size: 16px; }

  .box-cookies h4 {
    font-size: 16px; }
  .box-cookies .btn-action {
    width: 100%; }

  .page-libary-list-project .tab-system {
    padding: 30px 10px; }

  .content-faqs .col-md-3 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; }
  .content-faqs .col-md-9 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%; }

  .page-overview .pattern01 {
    width: 150px; }
  .page-overview .pattern02 {
    width: 170px; } }
@media only screen and (max-width: 950px) {
  .content-page-404 .content-detail-404 {
    margin-top: 0;
    max-width: 100%;
    transform: inherit;
    padding: 0 30px; }
  .content-page-404 img {
    height: 200px !important; }

  .page-contact .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .page-contact form {
    margin-bottom: 40px; }

  .page-overview .pattern02 {
    top: 500px; }

  footer {
    position: relative;
    text-align: center; }
    footer .quick-link {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      width: 100%;
      padding: 20px 0 0 0;
      border-top: 1px solid #E3E3E3; }
      footer .quick-link li {
        display: inline-block;
        float: none; }

  .intro-footer {
    max-width: 100%; }

  .info-left-footer {
    width: 100%;
    display: inherit; }

  .info-right-footer {
    display: inherit;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 70px; }
    .info-right-footer p {
      margin-bottom: 20px; }
    .info-right-footer a {
      display: inline-block; }

  .box-fee {
    display: inherit; }
    .box-fee .btn-action {
      position: initial;
      margin-top: 20px; }

  .head-page-detail .content-box-course ul {
    display: inherit; }
    .head-page-detail .content-box-course ul li {
      width: 45%;
      margin-bottom: 20px; }

  .info-head-detail h1 {
    font-size: 38px; }

  .page-libary .row .col-md-2 {
    max-width: 33.3% !important; }

  .list-libary-web .col-md-3 {
    max-width: 33.3% !important; }

  .page-libary-list-project .box-search-course {
    max-width: 100%; }
  .page-libary-list-project .tab-system.tab-khoa-hoc-le .col-md-2 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; }
  .page-libary-list-project .tab-system.tab-khoa-hoc-le .col-md-10 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%; }
  .page-libary-list-project .list-project-lib.list-project-screen .col-md-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .content-faqs .tab-content {
    padding: 20px 0; }
  .content-faqs .col-md-3, .content-faqs .col-md-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .content-faqs .btn-common-fill {
    width: 60px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    margin-bottom: 0;
    z-index: 1; }
    .content-faqs .btn-common-fill::after {
      content: '  ';
      display: none; }
  .content-faqs .nav-tabs {
    display: flex;
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset;
    justify-content: left; }
  .content-faqs ::-webkit-scrollbar {
    width: 1px;
    height: 2px;
    overflow: hidden; }
  .content-faqs ::-webkit-scrollbar-track {
    background-color: #e5e5e500; }
  .content-faqs ::-webkit-scrollbar-thumb {
    background-color: #fff; }
  .content-faqs:hover ::-webkit-scrollbar-track {
    background-color: #e5e5e5; }
  .content-faqs:hover ::-webkit-scrollbar {
    overflow: visible; }
  .content-faqs:hover ::-webkit-scrollbar-thumb {
    background-color: #EAE4FF; }
  .content-faqs #faq .card .card-header .btn-header-link {
    padding-right: 28px; }
    .content-faqs #faq .card .card-header .btn-header-link::after {
      right: 0 !important;
      top: 20px !important; }

  .pagging-page ul li a, .pagging-page ul li span {
    width: 32px;
    height: 32px;
    font-size: 14px;
    padding-top: 4px !important; }

  .list-cate-knowledge .btn-common-line-brand {
    width: 100%;
    padding: 10px; }
  .list-cate-knowledge .col-md-2 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .list-cate-knowledge .col-md-10 {
    padding-left: 20px !important;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .list-other-news li {
    width: 31%;
    margin-right: 15px;
    position: relative;
    padding-left: 50px; }
    .list-other-news li img {
      position: absolute;
      left: 10px; }
    .list-other-news li i {
      position: absolute;
      right: 15px;
      bottom: 15px; }

  .intro-page-about.box-img-banner h1 {
    font-size: 32px; }

  .item-box-ques img {
    height: 50px; }

  .ic-next-link {
    height: 24px !important; }

  .blog-about {
    padding-top: 0; }
    .blog-about .center {
      max-width: 100%; }
      .blog-about .center .text-large {
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 20px; }
    .blog-about .row .btn-common-fill {
      bottom: 0; } }
@media only screen and (max-width: 767px) {
  .page-contact .row.mt-70 {
    margin-top: 40px; }

  .section-course .list-item-course {
    padding: 30px 0 0 20px; }

  #send-faqs .modal-header {
    justify-content: center; }

  .box-question {
    padding-bottom: 20px; }

  .tab-system .box-course .view-more-course .btn-common-line {
    display: none; }

  .box-question .row .col-md-6 {
    padding-right: 5px;
    padding-left: 5px; }

  .title-news a {
    display: inherit; }

  .popup-zoom-list.modal {
    background-color: #F8F9FA; }

  .popup-zoom-list .modal-content {
    box-shadow: none; }

  .other-topic .custom-scrollbar:hover::-webkit-scrollbar {
    width: 1px;
    height: 6px;
    overflow: hidden; }
  .other-topic .col-md-2 {
    max-width: 52% !important; }
  .other-topic .slider-libary.owl-carousel .owl-item img {
    width: 140px; }

  .popup-zoom-list .modal-header {
    padding-left: 40px; }

  .expand-content-editor {
    justify-content: center;
    border-radius: 0 0 8px 8px; }

  .intro-page-about.box-img-banner br {
    display: none; }

  .page-libary .btn-filter {
    display: none; }

  .btn-more-view-list-mb {
    display: block !important; }

  .more-list-course {
    display: none; }

  .popup-course-list-in-mb .modal-header {
    justify-content: center;
    background-color: #fff;
    padding: 20px 0; }
    .popup-course-list-in-mb .modal-header .close {
      top: 25px;
      right: inherit;
      left: 20px; }
  .popup-course-list-in-mb .modal-title {
    font-size: 16px; }
  .popup-course-list-in-mb .modal-content {
    background-color: #F3EFFF;
    padding: 0; }
  .popup-course-list-in-mb .modal-body {
    padding: 20px 15px; }
    .popup-course-list-in-mb .modal-body .more-list-course {
      display: block; }
      .popup-course-list-in-mb .modal-body .more-list-course .item-course {
        width: 100%;
        margin-right: 0; }

  .list-project-lib.list-project-screen .col-md-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50% !important;
    max-width: 50% !important; }
  .list-project-lib.list-project-screen .box-item img {
    width: 100% !important; }

  .popup-zoom-list .modal-content {
    display: inherit; }
  .popup-zoom-list .modal-title {
    font-size: 20px; }
  .popup-zoom-list .modal-header .close {
    left: 15px; }

  .page-contact form .flex-center.two-filed-col {
    display: inherit; }
  .page-contact .info-page-contact-right {
    padding-left: 0; }

  .text-large {
    font-size: 32px;
    line-height: 40px; }

  .tab-system .nav-tabs .nav-item {
    font-size: 14px; }

  .box-overview {
    text-align: center;
    padding-left: 20px; }
    .box-overview img {
      position: initial;
      margin-bottom: 20px; }
    .box-overview .btn-action a {
      width: 100%;
      margin-bottom: 10px; }

  .page-overview .pattern01 {
    width: 80px;
    bottom: 0; }

  .intro-page-about.box-img-banner h1 {
    font-size: 24px;
    line-height: 42px; }
  .intro-page-about h1 span {
    font-size: 28px; }

  .banner-home.banner-about .bg-line {
    top: inherit;
    bottom: 100px; }
  .banner-home.banner-about .box-img-banner {
    padding-top: 60px; }
    .banner-home.banner-about .box-img-banner img {
      max-width: 30% !important; }

  .explain-logo .col-md-4 {
    margin-bottom: 35px; }
  .explain-logo p {
    margin-bottom: 20px;
    margin-top: 0; }

  .title-section {
    font-size: 24px; }

  .blog-about .center {
    margin-top: 10px; }

  .list-sugesst-mb img {
    height: 20px; }
  .list-sugesst-mb h2 {
    line-height: 20px;
    margin-bottom: 0; }
    .list-sugesst-mb h2 a {
      font-size: 13px; }
  .list-sugesst-mb .col-md-4 {
    width: 33.3%;
    padding: 0 5px; }
    .list-sugesst-mb .col-md-4:last-child {
      padding-right: 0; }
  .list-sugesst-mb .box-link-home {
    padding: 20px 10px 10px 10px;
    min-height: 100px; }
    .list-sugesst-mb .box-link-home img {
      height: 28px;
      margin-bottom: 10px; }

  .banner-home .box-img-banner img {
    max-width: 100% !important; }
  .banner-home .box-item-img {
    max-width: 100%;
    bottom: 180px;
    top: inherit;
    height: 100%; }
    .banner-home .box-item-img .item-img01 {
      height: 30px; }
    .banner-home .box-item-img .item-img02 {
      height: 40px;
      left: 100px; }
    .banner-home .box-item-img .item-img03 {
      height: 40px;
      left: 170px;
      bottom: -20px; }
    .banner-home .box-item-img .item-img04 {
      bottom: 26px;
      right: 160px;
      height: 30px; }
    .banner-home .box-item-img .item-img05 {
      right: 100px;
      bottom: 15px; }
    .banner-home .box-item-img .item-img06 {
      right: 30px;
      bottom: 0; }

  .item-blog-about.item-blog01 .avatar-thumb a {
    padding-top: 56%; }

  .item-blog-about {
    margin-bottom: 20px;
    position: relative;
    padding-left: 170px; }
    .item-blog-about p {
      font-size: 16px;
      text-align: left; }
    .item-blog-about .avatar-thumb {
      position: absolute;
      left: 0;
      width: 150px; }

  .blog-about .row {
    margin-bottom: 0; }
    .blog-about .row .btn-common-fill {
      position: initial;
      margin-top: 20px; }

  footer .quick-link li a {
    margin-bottom: 5px;
    display: inline-block; }

  .content-values-right img {
    display: none; }

  .values-home .row {
    margin-top: 20px !important; }
  .values-home .btn-action a {
    margin: 20px 0 0 0;
    width: 100%; }
  .values-home .box-link-home {
    margin-bottom: 20px;
    position: relative;
    padding: 30px 15px;
    padding: 30px 15px;
    display: flex;
    align-items: center; }
    .values-home .box-link-home img {
      margin-bottom: 0;
      height: 52px; }
    .values-home .box-link-home h2 {
      padding-left: 20px;
      margin-bottom: 0;
      font-size: 24px; }
      .values-home .box-link-home h2 a {
        color: #666668; }
    .values-home .box-link-home i {
      position: absolute;
      right: 15px; }
    .values-home .box-link-home p {
      display: none; }

  .intro-footer {
    padding-top: 20px; }

  .list-item-course .custom-scrollbar:last-child {
    display: none; }
  .list-item-course .item-course {
    display: grid;
    width: 100%; }
    .list-item-course .item-course .content-item-coures {
      padding-left: 0;
      padding-top: 20px; }

  .info-right-footer {
    padding-bottom: 100px; }

  .box-cookies {
    display: inherit;
    height: auto;
    text-align: center; }
    .box-cookies h4 {
      margin-bottom: 20px; }
    .box-cookies .btn-action {
      text-align: center; }
      .box-cookies .btn-action a {
        width: 100%;
        margin-bottom: 20px; }
        .box-cookies .btn-action a:last-child {
          margin-bottom: 0; }

  .box-course .content-box-course {
    padding: 20px 15px; }
    .box-course .content-box-course ul li {
      width: 100%;
      display: inline-block; }
  .box-course h4 {
    font-size: 16px;
    position: relative;
    padding: 18px 20px 18px 60px; }
    .box-course h4 img {
      position: absolute;
      left: 10px; }

  .box-fee .btn-action {
    text-align: center; }
    .box-fee .btn-action a {
      width: 100%;
      margin-bottom: 20px; }
      .box-fee .btn-action a:last-child {
        margin-bottom: 0; }

  .khoa-hoc-le .item-course {
    display: flex;
    margin-right: 0; }
    .khoa-hoc-le .item-course .content-item-coures {
      padding-top: 0;
      padding-left: 20px; }

  .head-page-detail .content-box-course ul li {
    display: inherit;
    width: 100% !important; }

  .fixed-title.show-fixed-title {
    top: inherit;
    bottom: 0; }
    .fixed-title.show-fixed-title .content-fixed-left {
      display: none; }
    .fixed-title.show-fixed-title .btn-action a {
      width: 100%; }

  #faq .card .card-header .btn-header-link {
    padding-top: 45px; }
    #faq .card .card-header .btn-header-link::after {
      right: 20px;
      top: 8px; }
  #faq .card .card-header .so-buoi {
    right: inherit !important;
    left: 26px;
    top: 10px; }

  .box-who-guide {
    padding-left: 20px; }
    .box-who-guide img {
      height: 65px;
      position: initial; }

  .inf-nguoi-hd.description-body {
    position: initial;
    padding-bottom: 10px; }
    .inf-nguoi-hd.description-body h5 {
      position: absolute;
      top: 40px;
      left: 100px; }
    .inf-nguoi-hd.description-body p {
      padding-top: 15px; }

  .expand-content-editor button {
    margin-left: 20px; }

  .modal {
    padding: 0 !important;
    background-color: #fff; }

  .modal-header .close {
    top: 45px;
    right: 40px; }

  .modal-content {
    padding: 25px 5px;
    border-radius: 0;
    border: 0;
    height: 100%;
    display: inline-table; }

  .two-filed-col .form-group {
    width: 100% !important;
    margin-right: 0 !important; }

  .modal-body {
    padding: 20px; }
    .modal-body form {
      padding: 0 0 30px 0; }
    .modal-body .flex-center {
      display: inherit; }
    .modal-body .btn-action {
      background: #FFF;
      box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.06);
      padding: 15px;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0; }
      .modal-body .btn-action .btn-common-fill {
        width: 100%; }

  .page-libary {
    padding: 100px 20px 30px 20px; }
    .page-libary .row .col-md-2 {
      max-width: 50% !important; }
    .page-libary .tab-khoa-hoc-le {
      position: relative; }
      .page-libary .tab-khoa-hoc-le .flex-center {
        display: inherit; }
      .page-libary .tab-khoa-hoc-le .box-search-course {
        max-width: 100%; }
    .page-libary .btn-filter {
      position: absolute;
      right: 0;
      top: 0;
      width: fit-content; }
    .page-libary .tabs-libary {
      margin-left: 0;
      margin-top: 20px;
      border: 0;
      width: 100%; }
    .page-libary .tab-system.tab-khoa-hoc-le .nav-tabs .nav-item {
      margin: 0 5px; }
      .page-libary .tab-system.tab-khoa-hoc-le .nav-tabs .nav-item:first-child {
        margin-left: 0; }

  .list-libary-web .col-md-3 {
    max-width: 50% !important; }

  .popup-filter-catogories .modal-header .close {
    right: 30px;
    top: 40px; }
  .popup-filter-catogories .hiddenCB input[type="checkbox"] + label {
    margin: 5px;
    width: 46%;
    text-align: center;
    padding: 10px;
    min-height: 70px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; }
  .popup-filter-catogories .modal-content {
    padding-bottom: 100px !important; }

  .btn-filer-lib {
    display: block !important;
    margin: 0;
    position: absolute;
    right: 15px;
    border-radius: 0 8px 8px 0;
    top: 5px; }

  .list-cate {
    display: none; }

  .page-libary-list-project .box-search-course {
    max-width: 100%;
    margin-bottom: 20px; }
  .page-libary-list-project .tab-system.tab-khoa-hoc-le .col-md-2, .page-libary-list-project .tab-system.tab-khoa-hoc-le .col-md-10 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .page-libary-list-project .tab-system.tab-khoa-hoc-le .list-project-lib .box-item img {
    width: 120px; }
  .page-libary-list-project .tab-content h2 {
    margin-top: 30px; }

  .popup-filter-flow .list-cate {
    display: block;
    padding-left: 30px; }
  .popup-filter-flow .modal-header .close {
    right: 30px;
    top: 35px; }

  .breadbrum-back {
    top: 0; }

  .banner-faqs .info-banner-faqs h2 {
    margin-bottom: 20px; }

  .content-knowledge-lagre .info-news {
    padding-top: 20px; }

  .list-cate-knowledge {
    padding-top: 0;
    padding-bottom: 0; }
    .list-cate-knowledge .row.mt-60 {
      margin-top: 30px !important; }
    .list-cate-knowledge .col-md-2, .list-cate-knowledge .col-md-10 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .list-cate-knowledge .btn-common-line-brand {
      margin-bottom: 40px; }

  .list-other-news {
    margin-bottom: 0; }
    .list-other-news li {
      width: 100%; }
      .list-other-news li i {
        bottom: 35px; }

  .page-detail-cate {
    padding-bottom: 0; }

  .content-knowledge-lagre .row.mt-60 {
    margin-top: 0; }

  .item-news {
    position: relative;
    padding-left: 160px;
    display: inline-block; }
    .item-news .info-news {
      padding-top: 0; }
    .item-news .avatar-thumb {
      position: absolute;
      left: 0;
      top: 0;
      width: 140px; }

  .list-cate-border .item-news.item-cate-right .avatar-thumb {
    right: 15px !important;
    left: inherit; }

  .box-muc-luc ul li {
    width: 100%; }

  .box-review {
    display: inherit; }
    .box-review a {
      margin-right: 0;
      width: 100%;
      margin-bottom: 10px; }
      .box-review a.btn-common-line-brand {
        width: 47%;
        float: left;
        margin-right: 10px;
        padding: 10px; }

  .tags-news {
    padding-left: 0; }
    .tags-news p {
      position: initial; } }
@media only screen and (max-width: 320px) {
  .tab-system .nav-tabs .nav-item {
    padding: 10px 15px;
    font-size: 14px; }

  h1 {
    font-size: 32px; }

  h2 {
    font-size: 22px; }

  .item-box-ques img {
    height: 50px; }
  .item-box-ques .ic-next-link {
    height: 20px !important; }

  .footer-bottom {
    padding-top: 30px; }

  .banner-home .box-item-img {
    bottom: 150px; }

  #faq .card .card-header .btn-header-link {
    font-size: 16px; }

  .page-libary .btn-filter {
    position: inherit;
    margin: 0;
    max-width: 100%;
    display: inline-block;
    width: 100%; }
  .page-libary .tabs-libary {
    margin-top: 30px; }
  .page-libary .tab-system .nav-tabs .nav-item {
    margin-bottom: 0;
    padding: 14px 20px; }
  .page-libary .tab-khoa-hoc-le .box-search-course {
    max-width: 100%;
    margin-bottom: 30px; }

  .list-project-screen .col-md-2 {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important; }

  .pagging-page ul li a, .pagging-page ul li span {
    width: 24px;
    height: 24px;
    padding: 0 !important; } }

/*# sourceMappingURL=responsive.css.map */
