$text: #222222;
$text-alpha: #666668;
$border: #E3E3E3;
$bg-gray: #F3EFFF;
$brand: #5726DA;
$brand-alpha: #EAE4FF;
.menu-mobile, .filter-mb, .menu-mobile-2, .list-sugesst-mb, .btn-filer-li, .btn-more-view-list-mb, .btn-close-search-mb, .btn-search-mb, .search-head.search-head-mb, .btn-filter.btn-filer-lib
 {
    display: none;
}
@media only screen and (max-width: 1701px) {
  
}
@media only screen and (max-width: 1601px) {
   
   
}
@media only screen and (max-width: 1400px) {
    footer{
        img{
            width: 100%;
        }
       }
       .page-overview {
            .pattern01{
                width: 200px;
            }
            .pattern02 {
                width: 300px;
            }
       }
       .content-page-404 {
        .img-cat-404 {
            height: 270px;
        }
        .content-detail-404 {
            transform: translate(100%, 50%);
        }
       }
}

@media only screen and (max-width: 1201px) {
    .banner-home.banner-about .box-question {
        margin-top: 40px;
    }
    .btn-search.js-open-modal{
        display: none;
    }
    .btn-search-mb{
        display: block;
        position: absolute;
        right: 20px;
        top: 15px;
        img{
            height: 28px;
        }
    }
    .show-search-mb{
        display: none;
    }
   .search-head{
    &.show-search-mb{
        padding-top: 0;
        display: block;
        position: fixed;
        top: 0;
        z-index: 9;
        padding: 0 15px;
        .btn-close-search-mb{
            color: $text-alpha;
            display: block;
            position: absolute;
            right: 0;
            top: 10px;
        }
        .btn-search-mb{
            display: none;
        }
        .enter-search-box-mb{
            input{
                width: 83%;
            }
        }
    }
   }
    .enter-search-box-mb{
        position: relative;
        display: block;
        margin: 0 -15px 30px -15px;
        img{
            height: 22px;
            position: absolute;
            left: 20px;
            top: 12px;
            z-index: 1;
        }
        input{
            border-radius: 120px;
            background-color: #F8F9FA;
            height: 45px;
            padding: 10px 20px 10px 50px;
            font-size: 14px;
            &::placeholder{
                color: #ABABAB;
                font-size: 14px;
            }
        }
    }
    .custom-box-search-head{
        top: 65px;
        height: 100%;
    }
    .search-head{
        height: 100%;
    }
    .btn-search {
        margin: 5px 0 0 0;
        .ti-search{
            font-size: 24px;
        }
    }
    .header-1 {
        height: 70px;
        .logo .logo-default img, .logo-scroll img {
            height: 40px;
            position: fixed;
            left: 0;
            right: 0;
            top: 15px;
            margin: 0 auto;
        }
        .content-head-right {
            float: none;
            display: inherit;
        }
    }
    .ic-menu-mb, .ic-close-menu-mb{
        height: 20px;
    }
    .menu nav, .ic-close-menu-mb{
        display: none;
    }
   .menu-mobile-2{
        display: block;
        position: fixed;
        left: 20px;
        top: 20px;
   }
   .btn-search{
    position: fixed;
    right: 20px;
   }
   header{
    &.show-menu{
        .menu nav{
            display: block;
            position: fixed;
            left: 0;
            top: 70px;
            width: 100%;
            height: 100%;
            border-top: 1px solid $border;
            ul {
                display: inline-block;
                width: 100%;
                padding-top: 30px;
                background-color: #fff;
                height: 100%;
                li {
                    width: 100%;
                    margin-bottom: 45px;
                    a{
                        font-size: 28px;
                        font-family: 'Google Sans', sans-serif !important;
                        font-weight: normal;
                    }
                }
            }
        }
        .ic-menu-mb{
            display: none;
        }
        .ic-close-menu-mb{
            display: block;
        }
    }
   }
   .header-1{
    .content-head-right .btn-action {
        display: none;
    }
   } 
    .content-head-left {
        display: inherit;
    }
   .list-sugesst-mb{
        display: flex;
        img{
            height: 40px;
        }
        h2 a{
            font-size: 16px;
        }
        p{
            font-size: 14px;
            color: $text-alpha;
        }
   }
   .enter-search-box{
    display: none;
   }
   .suggest-search {
        padding-top: 40px;
    span{
        font-size: 14px;
    }
    ul li a {
        font-size: 16px;
       }
   }
    .box-cookies {
        h4{
            font-size: 16px;
        }
        .btn-action {
            width: 100%;
        }
    }
    .page-libary-list-project .tab-system {
        padding: 30px 10px;
    }
    .content-faqs{
        .col-md-3 {
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
            max-width: 30%;
        }
        .col-md-9 {
            -ms-flex: 0 0 70%;
            flex: 0 0 70%;
            max-width: 70%;
        }
    }
    .page-overview {
        .pattern01{
            width: 150px;
        }
        .pattern02 {
            width: 170px;
        }
   }
}
@media only screen and (max-width: 950px) {
    .content-page-404 {
        .content-detail-404 {
            margin-top: 0;
            max-width: 100%;
            transform: inherit;
            padding: 0 30px;
        }
        img{
            height: 200px !important;
        }
    }
    .page-contact{
        .col-md-6 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        form{
            margin-bottom: 40px;
        }
    }
    .page-overview .pattern02 {
        top: 500px;
    }
    footer{
        position: relative;
         text-align: center;
         .quick-link{
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            width: 100%;
            padding: 20px 0 0 0;
            border-top: 1px solid $border;
            li{
                display: inline-block;
                float: none;
            }
         }
    }
    .intro-footer {
        max-width: 100%;
    }
    .info-left-footer{
        width: 100%;
        display: inherit;
    }
    .info-right-footer {
        display: inherit;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 70px;
        p{
            margin-bottom: 20px;
        }
        a {
            display: inline-block;
        }
    }
    .box-fee{
        display: inherit;
        .btn-action {
            position: initial;
            margin-top: 20px;
        }
    }
    .head-page-detail .content-box-course ul {
        display: inherit;
        li {
            width: 45%;
            margin-bottom: 20px;
        }
    }
    .info-head-detail h1{
        font-size: 38px;
    }
    .page-libary{
        .row{
            .col-md-2{
                max-width: 33.3% !important;
            }
        }
    }
    .list-libary-web{
        .col-md-3{
            max-width: 33.3% !important;
        }
    }
    .page-libary-list-project {
        .box-search-course {
            max-width: 100%;
        }
        .tab-system.tab-khoa-hoc-le{
            .col-md-2 {
                -ms-flex: 0 0 30%;
                flex: 0 0 30%;
                max-width: 30%;
            }
            .col-md-10 {
                -ms-flex: 0 0 70%;
                flex: 0 0 70%;
                max-width: 70%;
            }
          
             }
             .list-project-lib.list-project-screen{
                .col-md-2 {
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50% ;
                }
             }
    }
    .content-faqs{
        .tab-content {
            padding: 20px 0;
        }
        .col-md-3, .col-md-9 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .btn-common-fill{
            width: 60px;
            position: fixed;
            right: 30px;
            bottom: 30px;
            margin-bottom: 0;
            z-index: 1;
            &::after{
                content: '  ';
                display: none;
            }
        }
        .nav-tabs{
            display: flex;
            overflow-x: scroll;
            height: auto;
            white-space: nowrap;
            width: 100%;
            flex-wrap: unset;
            justify-content: left;
            
            }
            ::-webkit-scrollbar {
                width: 1px;
                height:2px;
                overflow: hidden;
            }
            ::-webkit-scrollbar-track {
                background-color: #e5e5e500;
            }
            ::-webkit-scrollbar-thumb {
                background-color: #fff ;
            }
            &:hover{
                ::-webkit-scrollbar-track {
                    background-color: #e5e5e5;
                }
                
                ::-webkit-scrollbar {
                    overflow: visible;
                }
                
                ::-webkit-scrollbar-thumb {
                    background-color: $brand-alpha ;
                }
            }
        #faq .card .card-header .btn-header-link{
            padding-right: 28px;
            &::after {
                right: 0 !important;
                top: 20px !important;
            }
        }
    }
    .pagging-page ul li a, .pagging-page ul li span {
        width: 32px;
        height: 32px;
        font-size: 14px;
        padding-top: 4px !important;
    }
   .list-cate-knowledge{
    .btn-common-line-brand {
        width: 100%;
        padding: 10px;
    }
        .col-md-2 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
        .col-md-10 {
            padding-left: 20px !important;
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
        }
   }
   .list-other-news li {
        width: 31%;
        margin-right: 15px;
        position: relative;
        padding-left: 50px;
        img{
            position: absolute;
            left: 10px;
        }
        i{
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
    }
    .intro-page-about.box-img-banner{
        h1{
            font-size: 32px;
        }
    }
    .item-box-ques img{
        height: 50px;
    }
    .ic-next-link{
        height: 24px !important;
    }
    .blog-about {
        padding-top: 0;
        .center{
            max-width: 100%;
            .text-large {
                font-size: 32px;
                line-height: 44px;
                margin-bottom: 20px;
            }
        }
        .row .btn-common-fill {
            bottom: 0;
        }
    }
}
@media only screen and (max-width: 767px) {
    .page-contact{
        .row.mt-70{
            margin-top: 40px;
        }
    }
    .section-course .list-item-course {
        padding: 30px 0 0 20px;
    }
    #send-faqs{
        .modal-header{
            justify-content: center;
        }
    }
    .box-question{
        padding-bottom: 20px;
    }
    .tab-system{
        .box-course{
            .view-more-course{
                .btn-common-line{
                    display: none;
                }
            }
        }
    }
    .box-question{
        .row{
            .col-md-6{
                padding-right: 5px;
                padding-left: 5px;
            }
        }
    }
    .title-news a{
        display: inherit;
    }

    .popup-zoom-list.modal{
        background-color: #F8F9FA;
    }
    .popup-zoom-list .modal-content{
        box-shadow: none;
    }
    .other-topic{
        .custom-scrollbar:hover{
            &::-webkit-scrollbar {
                width: 1px;
                height: 6px;
                overflow: hidden;
            }
            
            
        }
        .col-md-2{
            max-width: 52% !important;
        }
        .slider-libary{
            &.owl-carousel .owl-item img {
                width: 140px;
            }
        }
    }
    .popup-zoom-list {
        .modal-header{
            padding-left: 40px;
           
        }
    }
    .expand-content-editor{
        justify-content: center;
        border-radius: 0 0 8px 8px;
    }
    .intro-page-about.box-img-banner{
        br{
            display: none;
        }
    }
    .page-libary{
        .btn-filter{
            display: none;
        }
    }
    .btn-more-view-list-mb{
        display: block !important;
    }
    .more-list-course{
        display: none;
    }
    .popup-course-list-in-mb{
        .modal-header{
            justify-content: center;
            background-color: #fff;
            padding: 20px 0;
            .close {
                top: 25px;
                right: inherit;
                left: 20px;
            }
        }
        .modal-title{
            font-size: 16px;
        }
        .modal-content{
            background-color: #F3EFFF;
            padding: 0;
        }
        .modal-body{
            padding: 20px 15px;
            .more-list-course{
                display: block;
                .item-course{
                    width: 100%;
                    margin-right: 0;
                }

            }
        }
    }
    .list-project-lib.list-project-screen{
        .col-md-2 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }
        .box-item img {
            width: 100% !important;
        }
    }
    .popup-zoom-list{
        .modal-content{
            display: inherit;
        }
        .modal-title{
            font-size: 20px;
        }
        .modal-header .close {
            left: 15px;
        }
       
    }
    .page-contact{
        form{
            .flex-center.two-filed-col{
                display: inherit;
            }
        }
        .info-page-contact-right{
            padding-left: 0;
        }
    }
    .text-large{
        font-size: 32px;
        line-height: 40px;
    }
    .tab-system .nav-tabs .nav-item {
        font-size: 14px;
    }
    .box-overview {
        text-align: center;
        padding-left: 20px;
        img {
            position: initial;
            margin-bottom: 20px;
        }
        .btn-action{
            a{
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .page-overview .pattern01 {
        width: 80px;
        bottom: 0;
    }
    .intro-page-about {
        &.box-img-banner h1 {
            font-size: 24px;
            line-height: 42px;
        }
        h1 span {
            font-size: 28px;
        }
    }
    .banner-home.banner-about {
        .bg-line {
            top: inherit;
            bottom: 100px;
        }
        .box-img-banner{
            padding-top: 60px;
            img {
                max-width: 30% !important;
            }
        }
    }
    .explain-logo {
        .col-md-4{
            margin-bottom: 35px;
        }
        p {
            margin-bottom: 20px;
            margin-top: 0;
        }
    }
    .title-section{
        font-size: 24px;
    }
    .blog-about .center{
        margin-top: 10px;
    }
    .list-sugesst-mb{
        img{
            height: 20px;
        }
        h2 {
            line-height: 20px;
            margin-bottom: 0;
            a{
                font-size: 13px;
            }
        }
        .col-md-4{
            width: 33.3%;
            padding: 0 5px;
            &:last-child{
                padding-right: 0;
            }
        }
        .box-link-home{
            padding: 20px 10px 10px 10px;
            min-height: 100px;
            img{
                height: 28px;
                margin-bottom: 10px;
            }
        }
   }
   .banner-home{
    .box-img-banner{
        img {
            max-width: 100% !important;
        }
    }
    .box-item-img {
        max-width: 100%;
        bottom: 180px;
        top: inherit;
        height: 100%;
            .item-img01 {
                height: 30px;
            }
            .item-img02 {
                height: 40px;
                left: 100px;
            }
            .item-img03 {
                height: 40px;
                left: 170px;
                bottom: -20px;
            }
            .item-img04{
                bottom: 26px;
                right: 160px;
                height: 30px;
            }
            .item-img05 {
                right: 100px;
                bottom: 15px;
            }
            .item-img06 {
                right: 30px;
                bottom: 0;
            }
        }
   }
   .item-blog-about.item-blog01 .avatar-thumb a {
    padding-top: 56%;
}
.item-blog-about {
    margin-bottom: 20px;
    position: relative;
    padding-left: 170px;
    p {
        font-size: 16px;
        text-align: left;
    }
    .avatar-thumb{
        position: absolute;
        left: 0;
        width: 150px;
    }
}
    .blog-about .row {
        margin-bottom: 0;
        .btn-common-fill {
            position: initial;
            margin-top: 20px;
        }
    }
    footer .quick-link li a {
        margin-bottom: 5px;
        display: inline-block;
    }
   .content-values-right{
   
    img {
        display: none;
     }
   } 
   .values-home  {
    .row{
        margin-top: 20px !important;
    }
    .btn-action a {
        margin: 20px 0 0 0;
        width: 100%;
    }
    .box-link-home{
        margin-bottom: 20px;
        position: relative;
        padding: 30px 15px;
        padding: 30px 15px;
        display: flex;
        align-items: center;
        img{
            margin-bottom: 0;
            height: 52px;

        }
        h2{
            padding-left: 20px;
            margin-bottom: 0;
            font-size: 24px;
            a{
                color: $text-alpha;
            }
        }
        i{
            position: absolute;
            right: 15px;
        }
        p{
            display: none;
        }
    }
   }
    .intro-footer{
        padding-top: 20px;
    }
.list-item-course{
    .custom-scrollbar:last-child{
        display: none;
    }
    .item-course{
        display: grid;
        width: 100%;
        .content-item-coures{
            padding-left: 0;
            padding-top: 20px;
        }
    }
}
    .info-right-footer {
        padding-bottom: 100px;
    }
    .box-cookies{
        display: inherit;
        height: auto;
        text-align: center;
        h4{
            margin-bottom: 20px;
        }
        .btn-action{
            text-align: center;
            a{
                width: 100%;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .box-course{
        .content-box-course{
            padding: 20px 15px;
            ul li{
                width: 100%;
                display: inline-block;
            }
        }
        h4{
            font-size: 16px;
            position: relative;
            padding: 18px 20px 18px 60px;
            img{
                position: absolute;
                left: 10px;
            }
        }
    } 
    .box-fee{
        .btn-action{
            text-align: center;
            a{
                width: 100%;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .khoa-hoc-le{
        .item-course {
            display: flex;
            margin-right: 0;
            .content-item-coures{
                padding-top: 0;
                padding-left: 20px;
            }
        }
    }
    .head-page-detail .content-box-course ul li {
        display: inherit;
        width: 100% !important;
    }
  
    .fixed-title{
       
        &.show-fixed-title {
            top: inherit;
            bottom: 0;
            .content-fixed-left{
                display: none;
            }
            .btn-action a{
                width: 100%;
            }
        }
    }
    #faq .card .card-header{
        .btn-header-link{
            padding-top: 45px;
            &::after {
                right: 20px;
                top: 8px;
            }
        }
        .so-buoi {
            right: inherit !important;
            left: 26px;
            top: 10px;
    }
    } 
    .box-who-guide {
        padding-left: 20px;
        img {
            height: 65px;
            position: initial;
        }
    }
    .inf-nguoi-hd.description-body{
        position: initial;
        padding-bottom: 10px;
        h5{
            position: absolute;
            top: 40px;
            left: 100px;
        }
        p{
            padding-top: 15px;
        }
    }
    .expand-content-editor button {
        margin-left: 20px;
    }
    .modal{
        padding: 0 !important;
        background-color: #fff;
    }
    .modal-header .close {
        top: 45px;
        right: 40px;
    }
    .modal-content {
        padding: 25px 5px;
        border-radius: 0;
        border: 0;
        height: 100%;
        display: inline-table;
    }
    .two-filed-col .form-group {
        width: 100% !important;
        margin-right: 0 !important;
    }
    .modal-body{
        padding: 20px;
        form{
            padding: 0 0 30px 0;
        }
        .flex-center{
            display: inherit;
        }
        .btn-action {
            background: #FFF;
            box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.06);
            padding: 15px;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            .btn-common-fill{
                width: 100%;
            }
        }
    }
    .page-libary{
        padding: 100px 20px 30px 20px;
        .row{
            .col-md-2{
                max-width: 50% !important;
            }
        }
        .tab-khoa-hoc-le{
            position: relative;
            .flex-center{
                display: inherit;
            }
            .box-search-course {
                max-width: 100%;
            }
        }
        .btn-filter{
            position: absolute;
            right: 0;
            top: 0;
            width: fit-content;
        }
        .tabs-libary{
            margin-left: 0;
            margin-top: 20px;
            border: 0;
            width: 100%;
        }
        .tab-system.tab-khoa-hoc-le .nav-tabs .nav-item {
            margin: 0 5px;
            &:first-child{
                margin-left: 0;
            }
        }
       
    }
    .list-libary-web{
        .col-md-3{
            max-width: 50% !important;
        }
    }
    .popup-filter-catogories {
        .modal-header .close {
            right: 30px;
            top: 40px;
        }
        .hiddenCB input[type="checkbox"] + label {
            margin: 5px;
            width: 46%;
            text-align: center;
            padding: 10px;
            min-height: 70px;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .modal-content{
            padding-bottom: 100px !important;
        }
    }
    .btn-filer-lib{
        display: block !important;
        margin: 0;
        position: absolute;
        right: 15px;
        border-radius: 0 8px 8px 0;
        top: 5px;
    }
    .list-cate{
        display: none;
    }
    .page-libary-list-project{
        .box-search-course {
            max-width: 100%;
            margin-bottom: 20px;
        }
        .tab-system.tab-khoa-hoc-le {
            .col-md-2, .col-md-10 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .list-project-lib .box-item img {
                width: 120px;
            }
           
        }
        .tab-content h2 {
            margin-top: 30px;
        }
    } 
    .popup-filter-flow{
        .list-cate{
            display: block;
            padding-left: 30px;
        }
        .modal-header .close {
            right: 30px;
            top: 35px;
     }   
    }
    .breadbrum-back{
        top: 0;
    }
    .banner-faqs .info-banner-faqs {
        
        h2 {
            margin-bottom: 20px;
        }
    }
    .content-knowledge-lagre{
        .info-news{
            padding-top: 20px;
        }
    }
    .list-cate-knowledge{
        padding-top: 0;
        padding-bottom: 0;
        .row.mt-60{
            margin-top: 30px !important;
        }
        .col-md-2, .col-md-10 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .btn-common-line-brand{
            margin-bottom: 40px;
        }
      
       
    }
    .list-other-news {
        margin-bottom: 0;
        li {
            width: 100%;
            i {
                bottom: 35px;
            }
        }
    }
    .page-detail-cate{
        padding-bottom: 0;
    }
    .content-knowledge-lagre{
        .row.mt-60{
            margin-top: 0;
        }
    }
    .item-news{
        position: relative;
        padding-left: 160px;
        display: inline-block;
        .info-news{
            padding-top: 0;
        }
        .avatar-thumb{
            position: absolute;
            left: 0;
            top: 0;
            width: 140px;
        }
    }
    .list-cate-border{
        .item-news.item-cate-right{
            .avatar-thumb {
                right: 15px !important;
                left: inherit;
            }
        }
    }
    .box-muc-luc ul li {
        width: 100%;
    }
    .box-review {
        display: inherit;
        a {
            margin-right: 0;
            width: 100%;
            margin-bottom: 10px;
            &.btn-common-line-brand{
                width: 47%;
                float: left;
                margin-right: 10px;
                padding: 10px;

            }
        }
       
    }
    .tags-news {
        padding-left: 0;
        p {
            position: initial;
        }
    }
}

@media only screen and (max-width: 320px) {
  
    .tab-system .nav-tabs .nav-item {
        padding: 10px 15px;
        font-size: 14px;
    }
    h1{
        font-size: 32px;
    }
    h2 {
        font-size: 22px;
    }
    .item-box-ques{
        img{
            height: 50px;
           
    } 
        .ic-next-link{
            height: 20px !important;
        }
        
    }
    .footer-bottom{
        padding-top: 30px;
    }
    .banner-home .box-item-img {
        bottom: 150px;
    }
    #faq .card .card-header .btn-header-link {
        font-size: 16px;
    }
    .page-libary{
        .btn-filter{
            position: inherit;
            margin: 0;
            max-width: 100%;
            display: inline-block;
            width: 100%;
        }
        .tabs-libary{
            margin-top: 30px;
        }
        .tab-system .nav-tabs .nav-item {
            margin-bottom: 0;
            padding: 14px 20px;
        }
        .tab-khoa-hoc-le .box-search-course {
            max-width: 100%;
            margin-bottom: 30px;
        }
    } 
    .list-project-screen{
        .col-md-2{
            -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }
    }
    .pagging-page ul li a, .pagging-page ul li span {
        width: 24px;
        height: 24px;
        padding: 0 !important;
    }
}