$text: #222222;
$text-alpha: #666668;
$border: #E3E3E3;
$bg-gray: #F3EFFF;
$brand: #5726DA;
$brand-alpha: #EAE4FF;

a {
	&:hover {
		text-decoration: none;
	}
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}


h1 {
	font-size: 45px;
	font-weight: 700;
}

h2 {
	font-size: 28px;
	
}

h3 {
	font-size: 24px;
	font-weight: 500;
}

h4 {
	font-size: 20px;
	font-weight: 500;
}

h5 {
	font-size: 18px;
	font-weight: 500;
}

h6 {
	font-size: 16px;
	font-weight: 500;
}

p {
	font-size: 16px;
}

b,
span,
i,
label {
	font-size: 13px;
}

section {
	padding: 40px 0;
	display: block;
	width: 100%;
	overflow: hidden;
}

.title-section {
	h2 {
		display: inline-block;
		width: 100%;
		
	}

}


a {
	text-decoration: none;
}

.fw-normal {
	font-family: 'Google Sans', sans-serif;
}

.fw-bold, strong {
	
	font-family: 'Google Sans Bold';
}

.flex-center {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}



.bg-gray {
	background-color: $bg-gray;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-80 {
	margin-top: 80px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}
.pt-100 {
	padding-top: 100px;
}
.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.p0 {
	padding: 0;
}

.pd-left {
	padding-left: 30px;
}

.pd-right {
	padding-right: 30px;
}

.center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.text-main {
	color: $text;
}

.text-white {
	color: #fff;
}

.text-brand {
	color: $brand;
}

.text-uppercase {
	text-transform: uppercase;
}

.none-overflow {
	overflow: initial;
}
.sticky-box{
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 70px !important;
}
.none-uppercase {
	text-transform: inherit;
}

.text-alpha {
	color: $text-alpha;
}

.btn.focus,
.btn:focus {
	box-shadow: none;
}

body {
	font-family: 'Google Sans', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
}

.container {
	max-width: 1200px;
	margin: auto;
}

button:focus {
	outline: 0;
}

.btn-action {
	display: inline-block;
	width: 100%;

	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	button {
		outline: none;
	}

	span {
		padding-left: 5px;
		font-weight: 900;
	}
}

.btn-common-gradient {
	background: linear-gradient(90deg, #EAE4FF 0.41%, #FFF 97.65%) !important;
	border: 1px solid $brand  !important;
	color: $brand  !important;
	&:hover{
		background: #6C38F2 !important;
		color: #fff !important;
	}
}
.btn-common-line {
	background: $bg-gray !important;
	border: 1px solid transparent  !important;
	color: $brand!important;
	&:hover{
		color: #fff !important;
	}
}
.btn-common-line-brand{
	border: 1px solid $brand !important;
	color: $brand !important;
	background-color: #fff !important;
	&:hover{
		color: #fff !important;
		background-color: $brand !important;
	}
}

input[type=button],
input[type=submit],
input[type=reset] {
	color: white !important;
}

.btn-common-fill, button, .btn-common-gradient, .btn-common-line, .btn-common-line-brand, input[type=button], input[type=submit] {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $brand;
	padding: 15px 25px 15px 30px;
	color: white;
	text-align: center;
	transition: all .3s ease-in-out !important;
	color: white;
	height: 48px;
	line-height: 24px;
	font-weight: 500;
	font-size: 16px;
	border-radius: 100px;
	&:hover{
		color: #fff;
		background-color: #6C38F2 !important;
	}
	i,
	span,
	img {
		font-weight: 600;
		margin-left: 5px;
	}

}




textarea {
	height: 100px !important;
	padding-top: 12px !important;
}

input,
select,
textarea {
	border: 1px solid $border;
	border-radius: 4px;
	color: $text;
	width: 100%;
	padding: 5px 15px;
	height: 40px;
	font-size: 14px;
	font-weight: normal;

	&::placeholder {
		color: #C4C8D3;
		font-weight: normal;
	}

	&:focus {
		border: 1px solid $border;
	}
}

::-webkit-calendar-picker-indicator {
	filter: invert(0.6);
}


.avatar-thumb {
	display: inline-block;
	width: 100%;

	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

}

.form-control:focus {
	border-color: $brand;
	outline: 0;
	box-shadow: none;
}

.breadcrumbs {
	i {
		color: $text-alpha;
		font-weight: 600;
		&.ti-angle-right{
			font-size: 10px;
			color: #80808082;
		}
	}

	a {
		color: $text-alpha;
		font-size: 13px;
	}
}

/* ----------------------- Modal----------------------- */
.modal {
	padding: 80px 0;
}

.modal-body, form {
	padding-top: 15px;
	.btn-action{
		text-align: right;
		.btn-common-fill{
			width: fit-content;
		}
	}
	input{
		background-color: #F8F9FA;
		border-radius: 8px;
		border: 1px solid $border;
		height: 50px;
	}
	textarea{
		background-color: #F8F9FA;
	}
	label{
		font-size: 16px;
	}
	.form-group{
		margin-bottom: 30px;
	}
}

.modal-content {
	margin: auto;
	padding: 25px 15px 15px 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid $border;
}

.modal-dialog {
	max-width: 560px;
	margin: 0 auto;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.modal-header {
	padding: 0 10px;
	border-bottom: 0;

	.close {
		position: absolute;
		right: 45px;
		top: 30px;
		opacity: 1;
		background-color: #EAE4FF;
		border-radius: 100%;
		padding: 15px;
		width: 30px;
		height: 30px;
		i {
			font-size: 15px;
			color: $brand;
			opacity: 1;
			font-weight: 600;
			margin: 0;
		}
		&:hover{
			i{
				color: #fff;
			}
		}
	}
}

.modal-title {
	font-weight: 600;
}
.two-filed-col {
	.form-group {
		width: 250px;

		&:first-child {
			margin-right: 20px;
		}
	}
}

@mixin webkit-line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}


.owl-carousel {
	z-index: 0;
}

/*-------------------------------------------------------- head menu -------------------------------------------------*/

.progress-container {
	width: 100%;
	height: 2px;
}

.progress-bar {
	height: 2px;
	background: $brand;
	width: 0%;
}

.header2 {
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
}

.header-1 {
	display: inline-block;
	width: 100%;
	z-index: 9;
	position: fixed;
	top: 0;
	padding: 10px 30px;
	background: #fff;
	height: 80px;
	.logo {
		.logo-default{
			display: block;
			img{
				height: 60px;
			}
		}
		
		.logo-scroll{
			display: none;
		}
	}
	.menu {
		position: relative;
		z-index: 1;
		display: inline-block;

		nav {
			ul {
				padding: 0;
				display: flex;
				justify-content: left;
				margin-bottom: 0;

				li {
					position: relative;
					list-style: none;
					&::before {
						content: "\e64b";
						display: inline-block;
						font-family: 'themify';
						font-size: 12px;
						font-weight: 100;
						position: absolute;
						right: 0;
						top: 15px;
						color: white;
					}
					&.no-sub{
						&::before{
							display: none;
						}
					}
					i {
						display: none;
					}

					a {
						padding: 0 20px;
						position: relative;
						font-size: 16px;
						font-weight: 600;
						color: $text;
						display: flex;
						align-items: center;
						&:hover {
							color: $brand;

						}

						&.active {
							color: $brand;
						}
					}

					&:hover {
						ul {
							opacity: 1;
							visibility: initial;
						}
					}

					&.active {
						a {
							color: $brand;
						}

						ul {
							li {
								a {
									color: $text;

									&.active {
										color: $text-alpha;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	 
	.logo{
		float: left;
	}
	.content-head-right{
		float: right;
		display: flex;
		align-items: center;
		.btn-action{
			width: fit-content;
			border: 1px solid transparent;
			&:hover{
				border: 1px solid white;
				color: white;
			}
			svg{
				margin-left: 10px;
			}
		}
	}

	
	
}

.content-head-left{
	display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.custom-box-search-head {
    padding: 0;
    position: fixed;
    top: 80px;
    width: 100%;
    left: 0;
    z-index: 9;
    padding-bottom: 30px;
    background: white;
    display: none;
}
.custom-box-search-head::after{
    content: '';
    display: inline-block;
    position: fixed;
    height: 100%;
    width: 100%;
    background: black !important;
    opacity: .6;
}
.custom-box-search-head.active{
    display: block !important;
}
.search-head {
	transition: 0.5s;
	width: 100%;
	margin: 0;
	background: #fff;
	padding-top: 50px;
	input {
		border-radius: 0;
		border: none;
		background-color: white;
		padding: 5px 10px;
		width: 100%;
		padding-left: 30px;
		height: 60px;
		position: relative;
		font-size: 20px;
		&::placeholder{
			font-size: 20px;
			color: $text-alpha !important;
		}
	}
	i{
	    position: absolute;
		top: 20px;
		z-index: 9999;
		&::before{
			color: $text-alpha !important;
		}

	}

}

.enter-search-box, .suggest-search{
	position: relative;
	.ic-search-box{
		position: absolute;
		top: 15px;
		left: 0;
		z-index: 2;
	}
	
}
.suggest-search {
	padding-top: 50px;
	.ic-search-box{
		top: 0;
	}
}
.btn-search {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin: 5px 50px 0 20px;
	.ti-search, .ti-close{
		font-size: 18px;
		font-weight: 800;
	}
	.close-search{
		display: none;
	}
	
}
.suggest-search ul {
	margin-top: 15px;
	li{
		list-style: none;
		display: inline-block;
		width: 100%;
		margin: 10px 0;
		position: relative;
		padding-left: 30px;
		i{
			top: 0;
			left: 0;
			&::before{
				color: $text;
			}
		}
		a{
			color: $text;
			font-size: 14px;
		}
		&:hover{
			a{
				color: $brand;
			}
		}
	}
}
/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	background: #fff;
	.logo {
		.logo-default{
			display: none;
		}
		.logo-scroll{
			display: block;
		}
	}
	
}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}

.menu-mobile {
	display: none;
}


/* ----------------------------- Homepage -----------------------------*/

/* ----------- Banner Home -----------------*/
.banner-home{
.bg-line{
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 0;
}
	.box-img-banner{
		text-align: center;
		padding-top: 100px;
		z-index: 1;
		position: relative;
		img{
			max-width: 750px;
			
		}
	}
}
.box-item-img{
	height: 400px;
    max-width: 700px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
	img{
		position: absolute;
	}
	.item-img01{
		left: 50px;
		bottom: 0;
	}
	.item-img02{
		left: 180px;
		bottom: -20px;
	}
	.item-img03{
		left: 330px;
		bottom: -50px;
	}
	.item-img04{
		bottom: 15px;
		right: 250px;
	}
	.item-img05{
		right: 174px;
		bottom: 15px;
	}
	.item-img06{
		right: 120px;
		bottom: -40px;
	}

}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(60px);
    }
}

.animPulse{
	animation: animPulse 3s linear 0s infinite alternate;
}
@keyframes animPulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}


.anim_moveBottom{
	animation: anim_moveBottom 1.5s linear 0s infinite alternate;
}

@keyframes anim_moveBottom {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

/*---------------- Box Question ----------------*/
.box-question{
	.row{
		max-width: 830px;
		margin: 30px auto 0 auto; 
	}
	p{
		color: $brand;
		text-align: center;
		
	}
}
.item-box-ques{
	position: relative;
	display: flex;
	border-radius: 8px;
	border: 1px solid #E3E3E3;
	background:  #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
	padding: 30px 20px;
	transition: all .3s ease-in-out;
	margin-bottom: 30px;
	.content-ques{
		padding-left: 20px;
		span{
			color: $text-alpha;
		}
	}
	&:hover{
		border: 1px solid $brand;
	}
	.ic-next-link{
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	&:hover{
		cursor: pointer;
		.content-ques h5{
			color: $brand;
		}
	}
}
/* --------------------------- Section Course Home ------------------------------- */
.section-course{
	background-color:$brand;
	.title-section h2{
		color: #fff;
		
	}
	.list-item-course{
		padding: 30px 0 0 30px;
		display: inline-block;
	}
	.btn-common-fill{
		border: 1px solid #fff;
	}
	.custom-scrollbar{
		&::-webkit-scrollbar {
			width: 1px;
			height: 0;
			overflow: hidden;
		}
	}
	
}
.item-course{
	transition: all .3s ease-in-out;
	border-radius: 8px;
	background: #fff;
	padding: 15px;
	display: flex;
	position: relative;
	margin-bottom: 25px;
	margin-right: 25px;
	width: 425px;
	a{
		display: inline-block;
	}
	img{
		border-radius: 6px;
		max-width: 170px;
	}
	.content-item-coures{
		padding-left: 15px;
		display: inline-block;
   		 width: 100%;
	}
	.tag-course{
		background-color: $bg-gray;
		border-radius: 26px;
		padding: 5px 10px;
		margin-bottom: 10px;
		display: inline-block;
		color: $brand;
		font-size: 13px;
	}
	.title-course {
		margin-bottom: 5px;
		a{
			color: $text;
			max-height: 40px;
			min-height: 30px;
			overflow: hidden;
			@include webkit-line-clamp() ;
			-webkit-line-clamp: 2;
		}
	}
	.ic-next-link{
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
	&:hover{
		box-shadow: 0px 4px 14px 0px #bda9f287;
		.title-course a{
			color: $brand;
		}
	}
	
}
.values-home{
	padding-top: 60px;
	.row{
		align-items: center;
	}
	.btn-action a{
		margin: 20px 10px 0 0;
	}
}
.item-values{
	position: relative;
	padding-left: 100px;
    margin: 20px 0;
    display: inline-block;
	img{
		position: absolute;
		left: 0;
		height: 75px;
	}
}
.content-values-right img{ 
	width: 100%;
}
.box-link-home{
	border-radius: 8px;
	border: 1px solid #E3E3E3;
	background:#FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
	padding: 30px;
	transition: all .3s ease-in-out;
	h2 a:hover{
		color: #5726DA;
	}
	img{
		height: 66px;
		margin-bottom: 20px;
	}
	p{
		line-height: 25px;
		margin-top: 20px;
		@include webkit-line-clamp();
	}
	i{
		text-align: right;
		display: inline-block;
		width: 100%;
		font-size: 20px;
   		 font-weight: 800;
		 color: $brand;
	}
	&:hover{
		border:  1px solid $brand;
	}
}
/* ------------------- Footer -----------------------------*/
.border-bottom{
	border-bottom: 1px solid $border;
}
.footer-bottom{
	padding-bottom: 20px;
	display: inline-block;
	width: 100%;
	
	img{
		width: 100%;
	}
	.info-left-footer {
		img{
			height: 40px;
			width: fit-content;
		}
	}
}
.intro-footer{
	max-width: 410px;
	.btn-common-gradient{
		width: fit-content;
	}
}
.info-left-footer, .info-right-footer{
	width: 70%;
    float: left;
    display: flex;
    align-items: center;
	padding-top: 24px;
	p{
		margin-bottom: 0;
	}
}
.info-right-footer{
	justify-content: flex-end;
	padding-top: 40px;
	width: 30%;
	a{
		margin: 0 10px;
	}
	img{
		height: 20px;
	   }
} 
footer{
	.quick-link{
		display: inline-block;
		margin-bottom: 0;
		padding-left: 30px;
		padding-top: 10px;
		li {
			list-style: none;
			float: left;
			margin-right: 20px;
			a{
				color: $text-alpha;
			}
		}
	}
}


/* Custom select box */
.custom-select {
	height: 50px;
	background-color: transparent;
	border-radius: 8px;
	border: 1px solid $border;
	position: relative;
	padding: 0;
	background: none;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: #ABABAB;
	top: 12px;
    right: 32px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	padding: 12px 16px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 16px;
	background-color: #F8F9FA;
	border-radius: 8px;
	height: 48px;
}
.select-items div{
	background-color: transparent;
}
/* Style items (options): */
.select-items {
	padding: 15px 0;
	overflow-y:auto;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 2px;
	max-height: 250px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #f8f9fa73;
}
/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				width: 45px;
				height: 45px;
				margin-right: 10px;
				text-align: center;
				font-size: 18px;
				display: inline-block;
				text-decoration: none;
				color: $brand;
				padding: 10px;
				font-weight: 500;
				border-radius: 100%;
				border: 1px solid $brand;
				background-color: $bg-gray;
				&.active {
					color: #fff;
					border: 1px solid $brand;
					background-color: #5726DA;
					padding-top: 10px;
    				
				}
				i{
					font-weight: 800;
				}
			}

			&:hover {
				a {
					color: white;
					background-color: $brand;
				}
			}
		}
	}
}

/*------------- Custom tab content --------------*/
.tab-system{
	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
		border-color: transparent;
	}

	.nav-tabs{
		border-radius: 70px;
		justify-content: center;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: fit-content;
		flex-wrap: unset;
		padding: 10px 10px 5px 10px;
		border: 1px solid $border;
		margin: 0 auto;
		.nav-link{
			width: fit-content;
			text-align: center;
		}
		
	}
	.nav-item.show .nav-link, .nav-tabs .nav-link.active{
		background-color: $bg-gray;
		color: $brand;
	}
	
	.tab-content{
		margin: 20px 0;
	}
	.nav-tabs .nav-item {
		margin-bottom: 0;
		padding: 10px 25px;
		border-radius: 100px;
		color: $text;

	}
	&.tab-khoa-hoc-le{
		.nav-tabs{
			border: 0 !important;
			margin: 0;
			border-radius: 0;
			padding: 0;
			padding-top: 6px;
			.nav-item {
				border-radius: 8px;
				border: 1px solid #ABABAB;
				margin: 0 10px;
				height: 50px;
				padding: 14px 25px;
			}
		}
		.nav-item.show .nav-link, .nav-tabs .nav-link.active{
			background-color: $brand;
			color: #fff;
			border: transparent;
		}
	}
}
.tabs-libary{
	margin-left: 15px;
    padding-left: 0;
	border-left: 1px solid $border;
	justify-content: left !important;
    display: flex;
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: fit-content;
    flex-wrap: unset;
    justify-content: left;
	.nav-tabs{
		justify-content: left !important;
	}
	::-webkit-scrollbar {
		width: 1px;
		height:6px;
		overflow: hidden;
	}
	::-webkit-scrollbar-track {
		background-color: #e5e5e500;
	}
	::-webkit-scrollbar-thumb {
		background-color: #fff ;
	}
	&:hover{
		::-webkit-scrollbar-track {
			background-color: #e5e5e5;
		}
		
		::-webkit-scrollbar {
			overflow: visible;
		}
		
		::-webkit-scrollbar-thumb {
			background-color: $brand-alpha ;
		}
	}
}
/* ------------------------- Page Course List ----------------------*/
.box-course{
	border-radius: 8px;
	margin-bottom: 40px;
	.content-box-course{
		background-color: $bg-gray;
		padding: 30px;
		border-radius: 0 0 8px 8px;
	}
	h4{
		padding: 10px 20px 10px 30px;
		border: 1px solid #E9E3FC;
		border-radius: 8px 8px 0 0;
		margin-bottom: 0;
		display: flex;
    	align-items: center;
		img{
			margin-right: 10px;
		}
		
	}
}
.content-box-course {
	ul{
		margin-bottom: 0;
		li{
			display: inline-flex;
			width: 45%;
			list-style: none;
			position: relative;
			padding-left: 40px;
			margin-bottom: 30px;
			svg, img{
				position: absolute;
				left: 0;
				height: 30px;
			}
			
		}
	}
	
}
.info-content-course{
	strong{
		margin: 3px 0;
		display: inline-block;
	}
		.days-course::before{
			content: '-';
			display: inline-block;

		}
}
.box-fee{
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
	padding: 20px;
	position: relative;
	.info-fee{
		width: 100%;
	}
	p{
		margin-bottom: 0;
		span{
			font-size: 16px;
		}
	}
	.original-fee{
		color: $brand;
		font-size: 30px;
		@extend .fw-bold;
		margin: 15px 0 10px 0;
	}
	.sale-fee{
		color: $text;
		font-size: 18px;
		font-family: 'Google Sans', sans-serif;
		padding-left: 30px;
		text-decoration: line-through;
	}
	span{
		font-size: 14px;
	}
	.btn-action{
		position: absolute;
		bottom: 20px;
		right: 20px;
		a{
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
		}
	} 
	
}
.view-more-course{
	background-color: #fff;
	border-radius: 8px;
	.btn-common-line{
		background: #fff !important;
		height: 58px;
		&:hover{
			color: #6C38F2 !important;
		}
	}
}

.content-box-course, .khoa-hoc-le{
		.item-course{
			display: inherit;
			padding: 15px;
			width: 100%;
			img{
				max-width: 100%;
			}
			.content-item-coures {
				padding-top: 20px;
				padding-left: 0;
			}
		}

}
.content-box-course{
	.more-list-course{
		display: none;
	}
	&.show-more-list-course{
		.more-list-course{
			display: flex;
		}
		.view-more-course{
			display: none;
		}
	}
}
.khoa-hoc-le{
	background-color: $bg-gray;
	padding: 30px 10px;
	border-radius: 8px;
}
.box-search-course{
	position: relative;
	max-width: 280px;
    width: 100%;
	margin-top: 5px;
	i{
		position: absolute;
		left: 15px;
		top: 16px;
		font-size: 18px;
		font-weight: 800;
		&::before{
			color: #666668;
		}
	}
	input{
		padding-left: 40px;
		height: 50px;
		border-radius: 8px;
		border: 1px solid #ABABAB;
		font-size: 16px;
		&::placeholder{
			font-size: 16px;
			color: #ABABAB;
		}
	}
}
/* ------------------------- Page Course Detail ----------------------*/
.head-page-detail{ 
	.info-right-detail img{
		width: 100%;
	}
	.info-head-detail{
		padding: 40px 0;
		.btn-common-fill{
			width: fit-content;
			margin: 30px 0 20px 0;
		}
		p{
			display: flex;
			align-items: center;
			img{
				height: 22px;
				margin-right: 10px;
			}
		}
	}
	.content-box-course{
		background-color: #EAE4FF;
		padding: 30px 0;
		ul{
			margin-bottom: 0;
			display: flex;
			justify-content: space-between;
			align-items: start;
			li{
    			width: inherit;
				margin-bottom: 0;
				svg{
					path{
						fill:$brand
					}
				}
				&:nth-child(2){
					width: 27%;
				}
			}
		}
		.original-fee{
			@extend .fw-bold;
		}
		.sale-fee{
			text-decoration: line-through;
			color: $text-alpha;
			@extend .fw-normal;
		}
	}
}
.bg-gray02{
	background-color: #F8F9FA;
}
.box-who-course-for{
	background-color: #fff;
	margin-top: 20px;
	border: 1px solid $border;
	padding: 24px 24px 24px 40px;
	border-radius: 8px;
	li{
		width: 100%;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.accordion{
	border: 1px solid $border;
	border-radius: 8px;
	overflow: hidden;

}
#faq .card {
	padding: 0;
	border: 0;
	border-bottom: 1px solid $border;
	&:last-child{
		border-bottom: 0;
	}
  }
  
 #faq .card .card-header {
	border-bottom: 1px solid $border;
	padding: 0;
	@extend .fw-bold;
	.so-buoi{
		font-size: 16px;
		position: absolute;
		right: 80px;
		color: $text-alpha;
		@extend .fw-normal;
	}
  }
  #faq .card .card-body {
	font-size: 15px;
	padding-left: 25px;
	padding-top: 0;
	text-align: justify;
	p{
		position: relative;
		padding-left: 30px;
		margin-top: 15px;
		display: inline-block;
		i{
			position: absolute;
			left: 0;
			font-size: 20px;
			top: 5px;
			font-weight: 800;
		}
	}
  }
  
  #faq .card .card-header .btn-header-link {
	font-size: 20px;
	color: $text;
	display: block;
	text-align: left;
	background: #fff;
	padding: 20px 25px;
	border-radius: 0;
	font-weight: 500;
  }
  
#faq .card .card-header .btn-header-link:after {
	content: "\e648";
	font-family: 'themify';
	font-weight: 700;
	position: absolute;
    right: 20px;
    top: 20px;
	color: $brand !important;

  }

#faq .card .card-header .btn-header-link.collapsed {
	color: $text;
  }

#faq .card .card-header .btn-header-link.collapsed:after {
	
	content: "\e64b";
	color: $brand !important;
  }
  
#faq .card .collapsing {
	background: #fff;
	line-height: 30px;
  }
  
#faq .card .collapse {
	border: 0;
  }
  
#faq .card .collapse.show {
	background: #fff;
	line-height: 30px;
	color: $text;
  }


.box-who-guide{
	position: relative;
	padding-left: 140px;
	img{
		position: absolute;
		left: 20px;
		top: 20px;
	}
	button{
		&:hover{
			background-color: #fff !important;
			

		}
	}
}

.description-body{
	position: relative;
	height: 250px;
	overflow: hidden;
	padding-bottom: 50px;
}
.heightAuto{
	height: initial !important;
	overflow: initial;
	.expand-content-editor{
		background-image: unset;
		button{
			&::before{
				content: 'Rút gọn';
				display: inline-block;
			}
			i{
				&::before{
					content: "\e648";
				}
			}
		}
		
	}
}
.expand-content-editor{
	height: 150px;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	left: 0;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
    width: 100%;
    justify-content: left;
	button{
		background: transparent;
		border: 0;
		width: fit-content;
		padding: 0;
		&::before{
			content: 'Xem thêm';
			display: inline-block;
			
		}
		i{
			font-weight: 800;
			margin-left: 5px;
		}
		&:hover{
			color: $brand;
		}
	}
		
}
.fixed-title{
	display: none;
	width: 100%;
    height: 80px;
	background: #FFF;
	box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.07);
	padding: 24px 30px;
 &.show-fixed-title{
	display: inline-flex;
    align-items: center;
    justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 9;
}
}
.content-fixed-left{
	display: flex;
	align-items: center;
	width: 100%;
	.title-section{
		margin-bottom: 0;
	}
	img{
		margin-right: 15px;
	}
}

/* Status Sucess Noti */
.status-sucess-noti, .status-err-noti{
	position: absolute;
    right: 0;
	border-radius: 8px;
	background: #17C964;
	padding: 20px;
	max-width: 300px;
	border-radius: 8px;
	color: #fff;
}
 .status-err-noti{
	background: #F31212;
}
.box-cookies{
	background: #FFF;
	box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.07);
	padding: 24px 30px;
	position: fixed;
    bottom: 0;
    width: 100%;
	display: flex;
    align-items: center;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	h4{
		display: inline-block;
		margin-bottom: 0;
	}
	
	.btn-common-line{
		margin-right: 15px;
	}
	.btn-action{
		width: fit-content;
	}
}
/* Page-libary */
.btn-filter{
	max-width: 135px;
    width: 100%;
	border-radius: 8px;
	padding: 12px;
	border: 1px solid #ABABAB;
	color: $text;
	margin-left: 20px;
	img{
		padding-right: 10px;
	}
	&:hover{
		color: inherit;
	}
}
.page-libary{
	padding: 100px 30px 30px 30px;
	
}
.list-libary-web{
	.col-md-3 {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
.slider-libary{
	margin-bottom: 20px;
	&.owl-theme .owl-nav {
		height: 100%;
		width: 100%;
	}
	img{
		width: 100%;
		border-radius: 30px;
		background: #F8F9FA;
		padding: 10px 10px 25px 10px;
	}
	&.slider-tab-web img{
		border-radius: 8px;
	}

	.owl-next, .owl-prev {
		background: url(../images/ic-next-slide.png) no-repeat center !important;
		background-size: contain !important;
		width: 32px;
		height: 32px;
	}
	.owl-prev{
		background: url(../images/ic-prev-slide.png) no-repeat center !important;
		position: absolute;
		top: 0;
		height: 100%;
		left: 0;
	}
	.owl-next{
		position: absolute;
		top: 0;
		height: 100%;
		right: 0;
	}
	.owl-dot.active span, .owl-dots .owl-dot:hover span {
		background:$brand !important;
		
	}
	.owl-dots{
		position: absolute;
		bottom: -12px;
   		left: 0;
		right: 0;
		height: inherit;
		span{
			margin: 5px 3px !important;
			width: 8px!important;
			height: 8px!important;
		}
	}
	.owl-nav span{
		opacity: 0;
	}
	button{
		&:hover{
			background-color: transparent !important;
		}
	}
}
.name-project{
	display: flex;
	align-items: center;
	margin-bottom: 75px;
	color: $text;
	img{
		max-width: 40px;
		border-radius: 0;
		background: transparent;
		padding: 0;
		margin-right: 10px;
	}
	&:hover{
		color: $brand;
	}
}
.popup-filter-catogories{
	.hiddenCB div {
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;
	  }
	  
	  .hiddenCB input[type="checkbox"],
	  .hiddenCB input[type="radio"] {
		display: none;
		
	  }
	  
	  .hiddenCB label {
		
		cursor: pointer;
	  }
	  .hiddenCB input[type="checkbox"]+label{
		border: 1px solid $border;
		border-radius: 8px;
		padding:22px;
		margin: 10px;
	  }
	 
	  
	  .hiddenCB input[type="checkbox"]:checked+label {
		background: $bg-gray;
		border: 1px solid $brand;
		color: $brand;
	  }
	  .modal-body{
		padding: 10px 0;
	  }
	  .modal-dialog {
		max-width: 1040px;
	  }
	  .btn-common-fill{
		margin-right: 10px;
	  }
}
/* About US */
.banner-home.banner-about{
	.bg-line{
		top: 80px;
		bottom: inherit;
	}
	.box-question{
		margin-top: 110px;
		display: inline-block;
		width: 100%;
	}
}
.intro-page-about{
	&.box-img-banner{
		top: 20px;
		
	}
	h1{
		text-align: center;
		line-height: 65px;
		margin: 0 auto;
		span{
			font-size: 45px;
		}
	} 
	.text-green{
		color: #84BA23;
	}
	.logo-about{
		max-width: 200px !important;
		width: 100%;
		margin: 0 auto;
		padding-top: 58px;
		padding-bottom: 58px;
	}
	
}
.explain-logo{
	text-align: center;
	h2{
		color: $brand;
		margin-top: 30px;
	}
	p{
		font-size: 18px;
		margin: 20px 0 0 0;
    display: inline-block;

	}
}
.blog-about{
	.center{
		max-width: 85%;
		margin: 40px auto;
	}
	.btn-action{ 
		margin-top: 20px;
		color: $brand;
		i{
			margin-left: 10px;
			font-weight: 800;
		}
	}
	.row{
		position: relative;
		.btn-common-fill{
			position: absolute;
			bottom: 100px;
			left: 0;
			right: 0;
			width: fit-content;
			margin: 0 auto;
		}
	}
}
.text-large{
	font-size: 60px;
	display: inline-block;
    line-height: 70px;

}
.item-blog-about{
	text-align: center;
	p{
		font-size: 20px;
		margin: 15px 0;
		@include webkit-line-clamp();
	}
	.avatar-thumb a img{
		border-radius: 8px;
	}
		&.item-blog01 .avatar-thumb a {
			padding-top: 135%;
		}
}
.page-contact{
	.two-filed-col .form-group {
		width: 100%;
	}
	form{
		box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.04);
		background-color: #fff;
		border-radius: 8px;
		padding: 30px;
	}
}
.info-page-contact-right{
	padding-left: 50px;
	p{
		font-size: 18px;
		margin: 15px 0;
	}
	.btn-common-line{
		border: 1px solid $brand !important;
		width: fit-content;
		background-color: #fff !important;
		
	}
	.btn-common-line{
		&:hover{
			color: $brand !important;
		}
	}
}
.phone-contact{
	font-size: 18px;
	margin-bottom: 15px;
	display: inline-block;
}
/* Libary List Project  */

.box-title-page{
	position: relative;
	padding-top: 50px;
}
.title-list-project{
	text-align: center;
	img{
		height: 120px;
	}
	.name-project{
		display: inherit;
		margin-top: 20px;
		margin-bottom: 10px;
	}
}
.breadbrum-back{
	position: absolute;
	left: 0;
	font-size: 13px;
	color: $brand;
	&:hover{
		color: $brand;
	}
	img{
		margin-right: 10px;
	}
}
.page-libary-list-project{
 .name-project{
	margin-bottom: 0;
}
	.tab-system{
		padding: 30px;
	}
	.list-project-lib{
		.box-item{
			margin-right: 20px;
			img{
				width: 240px;
			}
		}
	}
	.tab-content{
		margin-bottom: 0;
		h2{
			margin-top: 50px;
			margin-bottom: 30px;
		}
	}
	.breadbrum-back img {
		margin-top: -3px;
	}
}
.tab-system.tab-khoa-hoc-le .tabs-libary-list-project{
	.nav-tabs .nav-link.active {
		background-color: transparent;
		color: $brand;
		border-bottom: 1px solid $brand;
		border-radius: 0;
	}
	.nav-tabs .nav-link {
		background-color: transparent;
		color: $text;
		border: transparent;
		border-radius: 0;
		font-family: 'Google Sans Bold';
		padding: 0;
		height: 30px;
		margin-right: 30px;
	}
}
.list-project-lib{
	.box-item{
		display: inline-block;
		img{
			width: 100%;
			border-radius: 20px;
			border: 1px solid $border;
			padding: 10px;
		}
	}
	&.list-project-screen{
		.box-item img {
			width: 100%;
		}
	}
	&.list-project-screen{
		.box-item {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
	
}
::-webkit-scrollbar {
	width: 1px;
	height:6px;
	overflow: hidden;
}
::-webkit-scrollbar-track {
	background-color: #e5e5e500;
}
::-webkit-scrollbar-thumb {
	background-color: #fff ;
}
.custom-scrollbar{
	transition: all .3s ease-in-out;
	padding-bottom: 5px;
	display: flex;
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset;
    justify-content: left;
	&::-webkit-scrollbar {
		width: 1px;
		height:6px;
		overflow: hidden;
	}
	
	&:hover{
		&::-webkit-scrollbar-track {
			background-color: #e5e5e5;
		}
		
		&::-webkit-scrollbar {
			overflow: visible;
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: $brand-alpha ;
		}
	}

}
.list-cate{
	a{
		display: inline-block;
		width: 100%;
		color: $text;
		padding-bottom: 20px;
		font-family: 'Google Sans Bold';
		font-size: 14px;
		&.active{
			color: $brand;
		}
	}
	.title-main-cate{
		padding-bottom: 15px;
		padding-top: 25px;
		&:hover{
			color: $brand;
		}
	}
	.sub-cate{
		position: relative;
		padding: 0 0 15px 25px;
		border-left: 1px solid #ABABAB;
		a{
			&::before{
				content: " ";
				background-color: #ABABAB;
				height: 1px;
				width: 20px;
				position: absolute;
				left: 0px;
				margin-top: 10px;
			}
		}
		
	}
	.sub-sub-cate{
		a{
			padding-left: 25px;
			position: relative;
			border-left: 1px solid #ABABAB;
			&::before{
				content: " ";
				background-color: #ABABAB;
				height: 1px;
				width: 20px;
				position: absolute;
				left: 0px;
				margin-top: 10px;
			}
		}
		
	}
}
.popup-zoom-list{
	&.modal{
		padding: 0;
	}
	.modal-dialog{
		max-width: 1920px;
		
	}
	.modal-content{
		background-color: #F8F9FA;
		border: 0;
		border-radius: 0;
		padding: 0;
		//height: 100%;
	}
	.modal-header {
		justify-content: center;
		background-color: #fff;
		padding: 10px 0;
		.close {
			left: 40px;
			top: 25px;
			right: inherit;
			background-color: transparent;
			i{
				color: $text-alpha;
				font-size: 24px;
			}
			&:hover{
				background-color: transparent !important;
			}
		}
	}
	.modal-title{
		color: $text;
		border-right: 1px solid $border;
		padding-right: 15px;
	}
	.title-list-project{
		display: flex;
		align-items: center;
		min-height: 42px;
		
	}
	.name-project{
		margin: 0;
		padding-left: 15px;
		color: $text-alpha;
		img{
			height: 24px;
		}
	}
	.list-project-lib {
		margin: 0 20px 30px 20px;
		display: flex;
		height: 100%;
		align-items: center;
		.box-item{
			margin-right: 20px;
			height: 95%;
			img{
				width: auto;
				max-width: 45vh;
			}
		}
	}
}
.other-topic{
	border-top: 1px solid $border;
	.custom-scrollbar{
		&::-webkit-scrollbar {
			width: 1px;
			height: 0;
			overflow: hidden;
		}
		
		
	}
	
}
.popup-zoom-list{
	.slider-libary.owl-carousel .owl-item img{
		width: auto;
		max-width: 45vh;
		margin: 0 auto;
	}
	.modal-body{
		padding-bottom: 0;

	}
	.modal-header .close {
		top: 30px;
	}
}
/* Tong Quan Nganh Hoc */
.page-overview {
	position: relative;
	.container{
		max-width: 700px;
	}
	.pattern01, .pattern02{
		position: absolute;
		right: 0;
		width: 300px;
	}
	.pattern02{
		left: 0;
		right: inherit;
		width: 400px;
    	top: 200px;
	}
	.tab-system .tab-content{
		margin-top: 50px;
	}
}
.box-overview{
	border: 1px solid $brand;
	padding: 20px;
	position: relative;
	padding-left: 115px;
	border-radius: 8px;
	background: #FFF;
	box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
	p{
		margin-bottom: 10px;
	}
	img{
		background-color: $bg-gray;
		padding: 15px;
		border-radius: 100%;
		position: absolute;
		left: 20px;
	}
	.btn-action {
		margin-top: 20px;
		a{
			margin-right: 20px;
		}
	}
}
/* Page FAQS */
.banner-faqs{
	background: #5726da url(../images/banner-faqs.png) center top no-repeat;
    height: 100%;
    background-size: contain;
    position: relative;
    padding: 80px 0 !important;
	
	.info-banner-faqs{
		padding: 60px 0 0 0;
		h2{
			color: #fff;
			margin-bottom: 40px;
		}
	}
	.box-search-course{
		margin: 0 auto;
		max-width: 680px;
		i{
			top: 23px;
		}
		input{
			padding-left: 50px;
			border: 0;
			height: 68px;
			&::placeholder{
				color: #ABABAB;
			}
			
		}
	}
}
.content-faqs{
	.nav-tabs {
		border-bottom: 0;
	}
	.tab-content{
		background-color: $bg-gray;
		padding: 20px;
		border-radius: 8px;
	}
	.btn-common-fill{
		height: 60px;
		margin-bottom: 30px;
		img{
			margin-right: 10px;
		}
		&::after{
			content: 'Gửi câu hỏi';
			display: inline-block;
		}
	}
	.nav-item.nav-link{
		color: $text;
		margin-bottom: 15px;
		border: 0;
		padding: 10px 15px;
		img{
			margin-right: 10px;
			height: 40px;
		}
		&.active{
			color: $brand;
			background-color: $bg-gray;
			border-radius: 8px;
			
		}
	}
	.accordion{
		border: 0;
		padding: 0 20px;
	}
	#faq .card {
		padding: 0;
		background-color: #f3efff;
		border-bottom: 1px solid #D7D0F1 !important;
		border-radius: 0;
		.card-header{
			@extend .fw-normal;
			border-bottom: 0;
			.btn-header-link{
				background: #f3efff;
				padding: 24px 0;
			}
			
		}
		.card-body {
			padding: 24px 20px;
			p {
				position: relative;
				padding-left: 0;
				margin-top: 0;
				display: inline-block;
				margin-bottom: 0;
			}
		}
		.collapse {
			border: 0;
		}
		&:last-child{
			border-bottom: 0 !important;
		}
	}
	#faq .card .collapse.show {
		border-bottom: 0 !important;
		border-radius: 8px;
	}

	
}
/*------------- News Knowledge --------------*/ 
.content-knowledge-lagre{
	.avatar-thumb a img{
		border-radius: 8px;
	}
	.row{
		align-items: center;
	}
	
}
.item-news{
	margin-bottom: 40px;
	.avatar-thumb a img{
		border-radius: 8px;
	}
	&.item-cate-right{
		
		position: relative;
		padding: 15px 150px 15px 15px;
		border: 1px solid $border;
		border-radius: 8px;
		.avatar-thumb{
			position: absolute;
			top: 15px;
			right: 15px;
			width: 130px;
		}
		.title-news {
			margin-bottom: 0;
			a{
				@extend .fw-normal;
			}
			
		}
	}
	&:hover{
		.title-news a{
			color: $brand;
		}
	}
}
	.cate-news{
		font-size: 20px;
		color: $brand;
		margin-bottom: 14px;
		display: inline-block;
	}
	.title-news{
		margin-bottom: 20px;
		a{
			font-size: 16px;
			color: $text;
			
			@extend .fw-bold;
			@include webkit-line-clamp();
		}
		&.lagre-news a{
			font-size: 45px;
			line-height: 45px;
		}
		
	} 
	.des-news{
		@include webkit-line-clamp();
	}
	.list-cate-knowledge{
		.row .col-md-10{
			padding-left: 30px;
		}
		.title-section{
			@extend .fw-bold
		}
		.btn-common-line-brand{
			margin-top: 25px;
			img, svg{
				margin-left: 10px;
			}
			&:hover{
				svg{
					path{
						fill: #fff;
					}
				}
			}
		}
	}
	.list-other-news{
		margin-top: 30px;
		display: inline-block;
		width: 100%;
		li{
			list-style: none;
			border: 1px solid $border;
			border-radius: 8px;
			padding: 26px 14px;
			width: 23%;
			float: left;
			margin-bottom: 20px;
			margin-right: 20px;
			a{
				color: $text;
				font-size: 16px;
			}
			img{
				margin-right: 10px;
			}
			i{
				margin-left: 10px;
				color: $text-alpha;
				&::before{
					font-weight: 800;
				}
			}
			&:hover{
				a{
					color: $brand;
				}
			}
		}
	}
	.title-main-cate{
		font-size: 45px;
		margin-bottom: 15px;

	}
	.des-main-cate{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.page-detail-cate{
		img{
			width: 100%;
			margin: 20px 0;
		}
	}

	.page-detail-cate{
		img{
			width: 100%;
		}
	}
	.box-muc-luc{
		 ul {
			li{
				list-style: none;
				margin: 10px 0;
				display: inline-block;
				a{
					color: $text;
					&.active{
						color: $brand;
					}
				}
				&.li-sub{
					padding-left: 20px;
					a{
						font-size: 14px;
					}
				}
			}
		 }
	}
	.content-detail-blogs p{
		font-size: 18px;
	}
	// .editor-body{
  
	// 	ul, ol{
	// 	  padding-left: 15px;
	// 	}
	// 	span, p, b, strong, label, i{
	// 	  font-size: initial !important;
	// 	  width: initial!important;
	// 	  height: initial!important;
	// 	  font-weight: initial!important;
	// 	}
	// 	h1, h2, h3, h4, h5, h6{
	// 	  font-size: initial!important;
	// 	  width: initial!important;
	// 	  font-weight: initial!important;
	// 	  height: initial!important;
	// 	  margin: 20px 0;
	// 	  span, p, b, strong, label, i{
	// 		font-size: initial!important;
	// 		width: initial!important;
	// 		font-weight: initial!important;
	// 		height: initial!important;
	// 	  }
	// 	}
	// 	img{
	// 		max-width:100% !important;
	// 		margin: 20px auto ;
			  
	// 	}
	//   }
	  .tags-news{
		display: inline-block;
		width: 100%;
		position: relative;
		padding-left: 50px;
		p{
			position: absolute;
			left: 0;
		}
		a{
			color: $brand;
			background-color: $bg-gray;
			border-radius: 80px;
			padding: 5px 15px;
			font-weight: normal;
			font-size: 16px;
			margin: 0 10px 12px 0;
			display: inline-block;
		}
	}
	.box-review{
		display: inline-flex;
		width: 100%;
		justify-content: center;
		a{
			margin-right: 20px;
			svg, img{
				height: 24px;
				width: 24px;
				margin: 0 5px;
			}
			&:hover{
				svg{
					path{
						fill: #fff;
					}
				}
			}
		}
	}
	.page-policy{
		.content-detail-blogs{
			max-width: 780px;
			margin: 0 auto;
			text-align: justify;
		}
		h1{
			text-align: center;
			margin: 60px 0;
		}
	}
	.content-page-search{
		background-color: #F8F9FA;
		.suggest-search{
			padding-top: 0;
			ul li{
				margin-bottom: 20px;
				padding-left: 35px;
				a{
					font-size: 16px;
					img{
						margin-right: 15px;
					}
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	.box-shadow{
		border-radius: 8px;
		background: #FFF;
		padding: 30px;
		
	}	
	.empty-content-search{ 
		p{
			margin-bottom: 10px;
		}
		img{
			margin-bottom: 20px;
		}
	}
	.item-news.item-cate-left {
		position: relative;
		padding: 15px 15px 15px 170px;
		border-radius: 8px;
		background-color: #fff;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
		.info-news{
			text-align: left;
			.title-news {
				margin-bottom: 0;
			}
			.cate-news{
				color: $text-alpha;
				font-size: 13px;
				margin-bottom: 8px;
			}

		}
		.avatar-thumb {
			position: absolute;
			top: 15px;
			left: 15px;
			width: 130px;
		}
	}
	.content-page-404{
		background: url(../images/bg-404.png) bottom left no-repeat;
		background-size: cover;
		height: 100vh;
		width: 100%;
		position: relative;
		.img-cat-404{
			position: absolute;
			left: 50px;
			bottom: 50px;
			height: 360px;
		}
		.content-detail-404{
			display: inline-block;
			max-width: 470px;
			width: 100%;
			transform: translate(50%, 50%);
			
			.btn-common-fill{
				width: fit-content;
				margin-top: 30px;
			}
		}
	}