<footer>
   <div class="border-bottom"></div>
   <div class="container">
      <div class="footer-bottom ">
        <div class="info-left-footer">
         <a href="index.html"><img src="images/logo.svg"></a>
         <ul class="quick-link">
            <li><a href="about.html">Về RUS</a></li>
            <li><a href="contact.html">Liên hệ</a></li>
            <li><a href="policy.html">Chính sách bảo mật</a></li>
            <li><a href="policy.html">Điều khoản dịch vụ</a></li>
         </ul>
        </div>
        <div class="info-right-footer">
         <p>Theo  dõi chúng tôi trên </p>
         <a href="#"><img src="images/ic-fb.svg"></a>
         <a href="#"><img src="images/ic-titkok.svg"></a>
         <a href="#"><img src="images/ic-yt.svg"></a>
        </div>
      </div>
   </div>
  
</footer>