<header class="header-1">
   <div class="content-head-left">
      <div class="logo">
         <a href="index.html" class="logo-default"><img src="images/logo.svg" alt=""></a>
         <a href="index.html" class="logo-scroll"><img src="images/logo-scroll.svg" alt=""></a>
      </div>
      <div class="content-head-right">
         <div class="menu">
            <nav>
               <ul>
                  <li class="no-sub">
                     <a href="course-list.html">Khoá học</a>
                  </li>
                  <li>
                     <a href="overview.html">Tổng quan ngành</a>
                  </li>
                  <li class="no-sub">
                     <a href="library.html">Library</a>
                  </li>
                  <li class="no-sub">
                     <a href="faqs.html">Hỏi đáp</a>
                  </li>
                  <li class="no-sub">
                     <a href="knowledge-cate.html">Kiến thức</a>
                  </li>
               </ul>
            </nav>
         </div>
         <div class="btn-search js-open-modal" >
            <i class="ti-search "></i>
         </div>
         <div class="btn-search-mb" >
            <img src="images/ic-search-mb.svg" class="ic-search-mb">
         </div>
         <div class="btn-action">
            <a href="#" class="btn-common-fill" data-toggle="modal" data-target="#ghi-danh-kh">
               Tư vấn miễn phí
               <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                  <mask id="mask0_2258_1866" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
                     <rect width="28" height="28" fill="#D9D9D9"/>
                  </mask>
                  <g mask="url(#mask0_2258_1866)">
                     <path d="M15.103 14.0004L9.73633 8.63376L10.9658 7.4043L17.5619 14.0004L10.9658 20.5966L9.73633 19.3671L15.103 14.0004Z" fill="white"/>
                  </g>
               </svg>
            </a>
         </div>
      </div>
      <div class="menu-mobile-2">
         <img class="ic-menu-mb" src="images/ic-menu-mb.png">
         <img class="ic-close-menu-mb" src="images/ic-close-menu-mb.png">
      </div>
   </div>
</header>
<!-- header 2 -->
<div class="header2">
   <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
   </div>
</div>
<!-- Popup tra gop khoa hoc -->
<div class="modal fade" id="tra-gop-kh" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <h2 class="modal-title text-brand" >Trả góp học phí</h2>
         <button type="button" class="close" data-dismiss="modal"><i class="ti-close"></i></button>
      </div>
      <div class="modal-body">
        <p>Chúng tôi luôn tâm niệm là tập trung vào học tập, sáng tạo và không ngừng cập nhật xu hướng mới, cải tiến sản phẩm.</p>
        <p>Tiếp theo, chúng tôi cố gắng phát triển và chăm sóc cộng đồng khách hàng với nhiều giá trị cho họ như mở trung tâm đào tạo nghề; tổ chức nhiều hội thảo, workshop hướng dẫn làm bánh, pha chế; cung cấp nhiều kiến thức của ngành,…</p>
         <p>Tôi cũng may mắn có một tập thể đồng đội hiểu mình, đoàn kết và chung niềm tin, chí hướng. Cuối cùng, chúng tôi cảm ơn các chuyên gia Hà Lan đã sẵn sàng hỗ trợ tìm ra công thức đặc biệt để tạo nên sản phẩm chất lượng khiến Tân Nhất Hương luôn tự hào.</p>
         <div class="btn-action">
            <a href="#" class="btn-common-fill" data-toggle="modal" data-target="#ghi-danh-kh">Ghi danh khoá học</a>
         </div>
      </div>
   </div>
</div>
</div>
 <!-- Popup  box search head -->
 <div class="custom-box-search-head" >
   <div class="search-head">
      <div class="container">
         <div class="enter-search-box">
            <img class="ic-search-box" src="images/ic-search-box.svg">
            <input type="text" placeholder="Tìm kiếm theo ký tự ...">
         </div>
         <div class="row list-sugesst-mb">
            <div class="col-md-4">
               <div class="box-link-home">
                  <img src="images/ic-home01.svg" alt="">
                  <h2><a href="library.html" class="text-brand">Library</a></h2>
            </div>
            </div>
            <div class="col-md-4">
               <div class="box-link-home">
                  <img src="images/ic-home01.svg" alt="">
                  <h2><a href="faqs.html" class="text-brand">Hỏi đáp</a></h2>
               </div>
            </div>
            <div class="col-md-4">
               <div class="box-link-home">
                  <img src="images/ic-home01.svg" alt="">
                  <h2><a href="#" class="text-brand">Check List UI</a></h2>
               </div>
            </div>
         </div>
         <div class="suggest-search">
            <span class="text-alpha">Nhiều người tìm</span>
            <ul>
               <li>
                  <a href="#">
                  <img class="ic-search-box" src="images/ic-search-box.svg">
                  lộ trình học design
                  </a>
               </li>
               <li>
                  <a href="#">
                  <img class="ic-search-box" src="images/ic-search-box.svg">
                  học thiết kế mất bao lâu
                  </a>
               </li>
               <li>
                  <a href="#">
                  <img class="ic-search-box" src="images/ic-search-box.svg">
                  thiết bị cho học đồ hoạ
                  </a>
               </li>
               <li>
                  <a href="#">
                  <img class="ic-search-box" src="images/ic-search-box.svg">
                  cách phối màu sắc trong thiết kế
                  </a>
               </li>
               <li>
                  <a href="#">
                  <img class="ic-search-box" src="images/ic-search-box.svg">
                  typography
                  </a>
               </li>
            </ul>
         </div>
   </div>
</div>
</div>
<!-- Stautus Noti send popup -->
<p class="status-sucess-noti" style="display: none;"><img src="images/check_circle.svg">Bạn đã gửi thông tin thành công</p>
<p class="status-err-noti" style="display: none;"><img src="images/cancel.svg">Gửi thông tin bị lỗi!</p>
   <!-- Box search on Mobile -->
   <div class="search-head search-head-mb">
      <div class="container">
            <div class="enter-search-box-mb">
               <img class="" src="images/logo-scroll.svg">
               <input type="text" placeholder="Tìm kiếm theo ký tự ...">
               <a class="btn-close-search-mb">Đóng</a>
         </div>
       <p>Có thể hữu ích với bạn</p>
       <div class="row list-sugesst-mb">
          <div class="col-md-4">
             <div class="box-link-home">
                <img src="images/ic-home01.svg" alt="">
                <h2><a href="library.html" class="text-brand">Library</a></h2>
          </div>
          </div>
          <div class="col-md-4">
             <div class="box-link-home">
                <img src="images/ic-home01.svg" alt="">
                <h2><a href="faqs.html" class="text-brand">Hỏi đáp</a></h2>
             </div>
          </div>
          <div class="col-md-4">
             <div class="box-link-home">
                <img src="images/ic-home01.svg" alt="">
                <h2><a href="#" class="text-brand">Check List UI</a></h2>
             </div>
          </div>
       </div>
       <div class="suggest-search">
         <span class="text-alpha">Nhiều người tìm</span>
         <ul>
            <li>
               <a href="#">
               <img class="ic-search-box" src="images/ic-search-box.svg">
               lộ trình học design
               </a>
            </li>
            <li>
               <a href="#">
               <img class="ic-search-box" src="images/ic-search-box.svg">
               học thiết kế mất bao lâu
               </a>
            </li>
            <li>
               <a href="#">
               <img class="ic-search-box" src="images/ic-search-box.svg">
               thiết bị cho học đồ hoạ
               </a>
            </li>
            <li>
               <a href="#">
               <img class="ic-search-box" src="images/ic-search-box.svg">
               cách phối màu sắc trong thiết kế
               </a>
            </li>
            <li>
               <a href="#">
               <img class="ic-search-box" src="images/ic-search-box.svg">
               typography
               </a>
            </li>
         </ul>
      </div>
      </div>
   </div>